container/openejb-jee/src/main/resources/META-INF/schema/web-facesuicomponent_2_0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>



<xsd:schema
     targetNamespace="http://java.sun.com/xml/ns/javaee"
     xmlns:javaee="http://java.sun.com/xml/ns/javaee"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:xml="http://www.w3.org/XML/1998/namespace"
     elementFormDefault="qualified"
     attributeFormDefault="unqualified"
     version="2.0">

  <xsd:annotation>
    <xsd:documentation>

      DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
      
      Copyright 2003-2009 Sun Microsystems, Inc. All rights reserved.
      
      The contents of this file are subject to the terms of either the
      GNU General Public License Version 2 only ("GPL") or the Common
      Development and Distribution License("CDDL") (collectively, the
      "License").  You may not use this file except in compliance with
      the License. You can obtain a copy of the License at
      https://glassfish.dev.java.net/public/CDDL+GPL.html or
      glassfish/bootstrap/legal/LICENSE.txt.  See the License for the
      specific language governing permissions and limitations under the
      License.
      
      When distributing the software, include this License Header
      Notice in each file and include the License file at
      glassfish/bootstrap/legal/LICENSE.txt.  Sun designates this
      particular file as subject to the "Classpath" exception as
      provided by Sun in the GPL Version 2 section of the License file
      that accompanied this code.  If applicable, add the following
      below the License Header, with the fields enclosed by brackets []
      replaced by your own identifying information:
      "Portions Copyrighted [year] [name of copyright owner]"
      
      Contributor(s):
      
      If you wish your version of this file to be governed by only the
      CDDL or only the GPL Version 2, indicate your decision by adding
      "[Contributor] elects to include this software in this
      distribution under the [CDDL or GPL Version 2] license."  If you
      don't indicate a single choice of license, a recipient has the
      option to distribute your version of this file under either the
      CDDL, the GPL Version 2 or to extend the choice of license to its
      licensees as provided above.  However, if you add GPL Version 2
      code and therefore, elected the GPL Version 2 license, then the
      option applies only if the new code is made subject to such
      option by the copyright holder.
      
    </xsd:documentation>
  </xsd:annotation>

    <xsd:annotation>
        <xsd:documentation>

            <![CDATA[

            The XML Schema for a JavaServer Faces UIComponent (Version 2.0).

            The elements in this schema may be used in an XHTML page for
            a composite component, by pulling in the composite namespace:
            
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite">
      
      <composite:interface>
         <composite:attribute name="foo" default="bar" />
      </composite:/interface>
      <!-- the rest omitted -->
</html>

            The elements in this schema may also be used in a facelet taglibrary
            file in the same manner:
            
<facelet-taglib xmlns="http://java.sun.com/xml/ns/javaee"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:composite="http://java.sun.com/jsf/composite"
              xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-facelettaglibary_2_0.xsd"
              version="2.0">
  <namespace>http://domain.com/test_schema</namespace>
  <tag>
    <tag-name>testSchema</tag-name>
    <component>
      <component-type>javax.faces.Input</component-type>
      <renderer-type>javax.faces.Text</renderer-type>
      <handler-class>com.sun.faces.facelets.tag.jsf.ComponentHandler</handler-class>
      <component-extension>

        <composite:attribute name="foo" default="bar" />

      </component-extension>
    </component>
  </tag>
</facelet-taglib>
            
            The instance documents may indicate the published
            version of the schema using xsi:schemaLocation attribute
            for javaee namespace with the following location:

            http://java.sun.com/xml/ns/javaee/web-facesuicomponent_2_0.xsd

            ]]>

        </xsd:documentation>
    </xsd:annotation>

    <xsd:include schemaLocation="javaee_5.xsd"/>

    <!-- **************************************************** -->

    <xsd:element name = "attribute" type="javaee:uicomponent-attributeType">
    </xsd:element>

    <!-- **************************************************** -->

    <xsd:complexType name="uicomponent-attributeType">
        <xsd:annotation>
            <xsd:documentation>

                The "attribute" element declares an attribute of this 
                ui component.

            </xsd:documentation>
        </xsd:annotation>
        
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="attribute"
                         type="javaee:uicomponent-attributeType"/>
        </xsd:choice>

        <xsd:attribute name="name"
                       type="xsd:string"
                       use="required"/>

        <xsd:attribute name="displayName"
                       type="xsd:string"
                       use="optional"/>

        <xsd:attribute name="shortDescription"
                       type="xsd:string"
                       use="optional"/>

        <xsd:attribute name="default"
                       type="xsd:string"
                       use="optional"/>

        <xsd:attribute name="method-signature"
                       type="xsd:string"
                       use="optional">

	  <xsd:annotation>
	      <xsd:documentation>
                <![CDATA[

	    Provides the signature of the Java method.  The syntax of
	    the method-signature element is as follows (taken from
	    function-signature in web-jsptaglibrary_2_1.xsd):

		MethodSignature ::= ReturnType S MethodName S?
				      '(' S? Parameters? S? ')'

                ReturnType        ::= Type

		MethodName        ::= Identifier

		Parameters        ::=   Parameter
				      | ( Parameter S? ',' S? Parameters )

                Parameter         ::= Type

		Where:

 		    * Type is a basic type or a fully qualified
		      Java class name (including package name),
		      as per the 'Type' production in the Java
		      Language Specification, Second Edition,
		      Chapter 18.

                    * Identifier is a Java identifier, as per
		      the 'Identifier' production in the Java
		      Language Specification, Second
		      Edition, Chapter 18.

	    Example:

	    java.lang.String nickName( java.lang.String, int )

                ]]>
	      </xsd:documentation>
	  </xsd:annotation>

        </xsd:attribute>

        <xsd:attribute name="applyTo"
                       type="xsd:string"
                       use="optional"/>

        <xsd:attribute name="required"
                       type="xsd:boolean"
                       use="optional"/>

        <xsd:attribute name="preferred"
                       type="xsd:boolean"
                       use="optional"/>

        <xsd:attribute name="expert"
                       type="xsd:boolean"
                       use="optional"/>

        
    </xsd:complexType>

    <!-- **************************************************** -->

</xsd:schema>
