server/openejb-axis2/src/test/resources/test_service_rpclit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<!-- $Rev: 482336 $ $Date: 2006-12-04 15:12:19 -0500 (Mon, 04 Dec 2006) $ -->

<wsdl:definitions targetNamespace="http://org/apache/geronimo/axis2/rpclit" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://org/apache/geronimo/axis2/rpclit" xmlns:intf="http://org/apache/geronimo/axis2/rpclit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsdl:message name="testSimpleRequest">
        <wsdl:part name="simpleIn" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="testSimpleResponse">
        <wsdl:part name="simpleOut" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="testSimple2Request">
        <wsdl:part name="simple2In1" type="xsd:string"/>
        <wsdl:part name="simple2In1" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="testSimple2Response">
        <wsdl:part name="simple2Out" type="xsd:string"/>
    </wsdl:message>


    <wsdl:portType name="RpcLit">

        <wsdl:operation name="testSimple" parameterOrder="simpleIn">
            <wsdl:input message="impl:testSimpleRequest" name="testSimpleRequest"/>
            <wsdl:output message="impl:testSimpleResponse" name="testSimpleResponse"/>
        </wsdl:operation>

        <wsdl:operation name="testSimple2" parameterOrder="simple2In1 simple2In2">
            <wsdl:input message="impl:testSimple2Request" name="testSimple2Request"/>
            <wsdl:output message="impl:testSimple2Response" name="testSimple2Response"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="RpcLitSoapBinding" type="impl:RpcLit">

        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="testSimple">

            <wsdl:input name="testSimpleRequest">
                <wsdlsoap:body namespace="http://org/apache/geronimo/axis2/rpclit" use="literal"/>
            </wsdl:input>

            <wsdl:output name="testSimpleResponse">
                <wsdlsoap:body namespace="http://org/apache/geronimo/axis2/rpclit" use="literal"/>
            </wsdl:output>

        </wsdl:operation>

        <wsdl:operation name="testSimple2">

            <wsdl:input name="testSimple2Request">
                <wsdlsoap:body namespace="http://org/apache/geronimo/axis2/rpclit" use="literal"/>
            </wsdl:input>

            <wsdl:output name="testSimple2Response">
                <wsdlsoap:body namespace="http://org/apache/geronimo/axis2/rpclit" use="literal"/>
            </wsdl:output>

        </wsdl:operation>
       
    </wsdl:binding>

    <wsdl:service name="RpcLitService">

        <wsdl:port binding="impl:RpcLitSoapBinding" name="RpcLit">

            <wsdlsoap:address location="http://localhost:9080/axis2/services/RpcLitService"/>

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>

